@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@800&family=Modak&family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,400&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: auto;
  text-align: left;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #5e7d51;
}

body *{
  color: #2B2522;
}

header {
  display: grid;
  grid-template-rows: .813em 1fr 1fr 2.25em;
  grid-template-columns: 1.688em 12.5em 1fr 19.25em 1.75em;
  height: 9.25em;
  background-color: #41281F;
}

.right-nav-grid{
  display: grid;
  grid-template-rows: .813em 1fr 1fr 2.25em;
  height: 9.25em;
  grid-column: 4;
}

#r-1{
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  height: auto;
  width: 19.25em;
  padding: .25em 0;
  /* border-color: yellow; */
  /* border-style: double; */
}

#r-1 nav{
  color: #8bc34a;
  text-align: right;
}

#r-1 #profile-pic{
  width: 3em;
}

#r-1 #arrow{
  width: 1em;
}

#r-2{
  font-family: 'Epilogue', sans-serif;
  font-size: 2em;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: .25em 0;
  /* border-color: #D8C5B9; */
  /* border-style: double; */
}

#r-2 img{
  margin-left: .2em;
  width: .75em;

}

#r-2 h2{
  font-size: 1.2em;
  font-weight: 100;
  color: #D8C5B9;
  text-align: right;
}

.ll-nav-grid{
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr .5em 1fr;
  /* border-color: blue; */
  /* border-style: double; */
}

.ll-nav-grid *{
  color: #D8C5B9;
}

#ll-3{
  grid-column: 4;
}

main {
  width: 100%;
}
main > h2 {
  color: #2B2522;
  padding: 1.792em 0px 1.625em 1.25em;
}

.card-grid{
  width: 100%;
  padding: 1.063em 1.063em;
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: .75em;
  grid-template-columns: repeat(auto-fill,17.318em);
  background: #e2c9ab;
  justify-content: center;
  /* border-color: green; */
  /* border-style: double; */
}

.card{
  display: grid;
  background-color: #bdcc91;
}

.card img{
  height: 8.875em;
  width: 17.318em;
  background-color: purple;
}

.card-text{
  display: grid;
  grid-template-columns: .625em 1fr 1.825em;
  grid-template-rows: .625em 3em 1.5em 3em 1.5em 3em 1.5em 3em 2.5em;
  width: 17.318em;
  justify-content: flex-start;
}

.card-text>*>*{
  margin: 0;
  padding: 0;
  text-align: left;
}

.card-text>*{;
  margin:0 0 0 .625em;
  display: inline-block;
  grid-column: 2;
  width: 100%;
}

.title-date{
  padding-top: 1.188em;
  grid-row: 2;
}

.p-link{
  padding: .75em .5em .75em .5em;
  grid-row: 4;
  width: 15em;
  height: 3.5em;
  background-color: #c2755b;
}

.p-link a{
  color: #e2c9ab;
}

.playlist{
  grid-row: 6;
}

.colorful-number{
  margin-bottom: 1.188em;
  grid-row: 8;
}

.title-date h4,
.playlist p,
.colorful-number p{
  margin-bottom: .25em;
}

.big-number{
  font-size: 2em;
  color: #213c69;
}

@media screen and (max-width: 38.375em) {
  body *{
    justify-content: center;
  }

  header{
    width: 100%;
    min-width: 24em;
    grid-template-rows: 0 2fr 1em 1fr 1em;
    grid-template-columns: 1.688em 1fr 1.688em;
    /* border-color: black; */
    /* border-style: double; */
  }

  .right-nav-grid{
    grid-column: 2;
    grid-row: 2;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: .5em;
  }

  #r-1{
    padding: 0;
    grid-row: 1;
    grid-column: 2;
  }

  #r-2{
    padding: 0;
    grid-row: 2;
    grid-column: 2;
  }

  .ll-nav-grid{
    grid-column: 2;
    grid-row: 4;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border-color: red; */
    /* border-style: double; */
  }
  #ll-3{
      grid-column: 3;
  }

  main{
    min-width: 24em;
  }

  .card-grid{
    grid-template-columns: 1fr;
  }

  .card{
    width: 98%;
  }

  .card img{
    width: 100%;
    height: auto;
    min-width: 20em;
    min-height: 10em;
  }

  .card-text{
    grid-template-columns: .625em 1fr 1.825em;
    width: 98%;
    height:auto;
  }

  .card-text>*{
    width: 100%;
  }
}


@media screen and (min-width: 74.3125em) {
  body{
    background-color: green;
    font-size: $base-font-size*1.2;
    line-height: $base-line-height*1.2;
  }
}
