*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  margin: auto;
  text-align: left;
}

body {
  background: grey;
}

header {
  display: grid;
  grid-template-rows: .813rem 1fr 1fr 2.25rem;
  grid-template-columns: 1.688rem 12.5rem 1fr 10.25rem 1.75rem;
  height: 9.25rem;
  background-color: lightgrey;
}

.right-nav-grid{
  display: grid;
  grid-template-rows: .813rem 1fr 1fr 2.25rem;
  height: 9.25rem;
  border-color: blue;
  border-style: double;
  grid-column: 4;
}

#r-1{
  grid-row: 2;
  border-color: blue;
  border-style: double;
}

#r-2{
  grid-row: 3;
  border-color: blue;
  border-style: double;
}

.ll-nav-grid{
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-color: blue;
  border-style: double;
}

main {
  width: 100%;
}
main > h2 {
  padding: 1.792rem 0px 1.625rem 1.25rem;
}

.card-grid{
  width: 100%;
  padding-left: 1.063rem;
  display: grid;
  justify-content: left;
  grid-column-gap: .625rem;
  grid-row-gap: .75rem;
  grid-template-columns: repeat(auto-fill,17.318rem);
  border-color: green;
  border-style: double;
}

.card{
  display: grid;
  border-color: purple;
  border-style: dashed;
}

.card img{
  height: 8.875rem;
  width: 17.318rem;
  background-color: purple;
}

.card-text{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.card-text>*>*{
  border-color: red;
  border-style: double;
  text-align: left;
}

.card-text>*{;
  display: inline-block;
  grid-column: 2;
  width: 15rem;
  border-color: yellow;
  border-style: double;
}

.card-text .title-date{
  padding-top: 1.188rem;
}

.card-text .colorful-number{
  padding-bottom: 1.188rem;
}

.title-date h4,
.playlist p,
.colorful-number p{
  margin-bottom: .25rem;
}

@media screen and (max-width: 610px) {
  body *{
    justify-content: center;
  }

  header{
    width: 100%;
    min-width: 20rem;
    grid-template-rows: 1rem 1fr 1fr 1rem;
    grid-template-columns: 1.688rem 1fr 1.688rem;
    border-color: black;
    border-style: double;
  }

  .right-nav-grid{
    grid-column: 2;
    grid-row: 2;
    height: 70%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  #r-1{
    grid-row: 1;
    grid-column: 1;
  }

  #r-2{
    grid-row: 1;
    grid-column: 2;
  }

  .ll-nav-grid{
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-color: red;
    border-style: double;
  }

  .card-grid{
    width: 20rem;
  }

  .card img{
    background-color: red;
  }
}
